a {
	text-decoration: none;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.menuItem {
	display: inline-block;
	margin: 0 10px;
}

.menuContainer {
	border: 1px solid #cdcdcd;
	margin: 10px 0;
}
