.header {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 110px 15px;
	overflow: hidden;
	position: relative;
}

.headerImage {
	background-image: url(../../assets/images/header.jpg);
	background-position: center;
	background-size: 110%;
	position: absolute;
	top: -10%; 
	bottom: -10%;
	left: -10%;
	right: -10%;
	z-index: -1;
}
